@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide Calendar Icon In Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


.front-info{
    writing-mode:vertical-rl;
    transform: rotate(-180deg);
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent; 
    border-top: 10px solid rgb(251 146 60 / var(--tw-border-opacity));
  }


td{
    padding:0.5rem 2.5rem;
}

th{
    padding:0.2rem 1.5rem;
}